/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   /* General Styles*/

   html {
     box-sizing: border-box;
     font-size: 16px;
   }
   *, *:before, *:after {
     box-sizing: inherit;
   }

   /*BODY*/
   body {
     color: #000000;
     font-family: 'Spectral', serif;
     font-size: 1.125em;
     line-height: 20px;
     margin: 0;
     padding: 0;
   }

   /*---------headlines---------*/
   h1 {
     font-family: 'Roboto', sans-serif;
     font-size: 7.5rem;
     font-weight: normal;
     line-height: 100px;
     margin:0;
     width: 85%;
   }

   h1 span {
     font-family: 'Roboto', sans-serif;
     font-size:  8.375rem;
     font-weight: normal;
   }

  /* #title span :hover, #title span :active {
     font-size: 6rem;
   }*
  /** #prim :hover .head1 {display:none}
   #prim span:hover:before {content:"Chiara"}**/

   h2 {
     font-family: 'Spectral', serif;
     font-style: medium;
     font-size: 2.875rem;
     font-weight: normal;
     line-height: 2.7777rem;
   }

   span {
     font-family: 'Satisfy', cursive;
     font-size: 2.875rem;
     font-weight: normal;
   }

   h3 {
     font-family: 'Roboto', sans-serif;
     font-size: 1.5rem;
     font-weight: lighter;
     line-height: 1.9444rem;
   }

   /*---------lists---------*/
   ul {
     font-size: 1rem;
     list-style-type: none;
     margin: 0;
     padding: 0;
     text-transform: uppercase;
   }

   li {
     margin-right: 33px;
   }

   .dot {
     height: 5px;
     width: 5px;
     background-color: #d90dcb;
     border-radius: 50%;
     display: inline-block;
   }

   /*---------links---------*/
   a {
     color: #000000;
     text-decoration: none;
   }

   /*---------images---------*/
   img {
     width: 100%;
   }

   figure {
        margin: 0;
    }

   /*--Paragraph--*/
   p {
     margin:0;
   }

   /*------header, main and footer-------*/
   header,
   main,
   footer {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-flow: row wrap;
   }

   /*****HEADER********/
   header .content-wrapper {
     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-flow: row wrap;
     width: 100%;
     padding: 0;
     margin: 0;
   }

/*---logo and nav--*/
header figure {
    width: 17%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
}
   #logo{
     align-self: flex-start;
     padding: 5px 0 0 10px;
     width: 100%;
   }

   .half-width {
     display: flex;
     justify-content: flex-end;
     align-items: center;
     flex-flow: row wrap;
     width: 80%;
   }

   nav {
     display: flex;
     justify-content: flex-end;
     align-items: center;
     flex-flow: row wrap;
     width: 100%;
   }

   nav ul {
     display: flex;
     justify-content: space-around;
     align-items: center;
     flex-flow: row wrap;
   }

   nav ul li {
     font-family: 'Roboto', sans-serif, regular;
     margin: 0;
     padding: 0 5px;
   }


   /*-----------------------MOBILE---------------------*/
   /*---------------HOMEPAGE---------------*/

   /*---chi vui--*/
   #wrapper{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-flow:row wrap;
     width: 100%;
     box-sizing: border-box;
   }

   .half-wrapper{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-flow: row wrap;
     width: 100%;
   }

   #box{
     display: flex;
     justify-content: flex-start;
     width: 75%;
   }

   #wrapper1{
     display: flex;
     justify-content: flex-start;
     align-items: center;
     width: 100%;
     padding-top: 150px;
   }

   span#title1.normal{
     align-self: flex-start;
   }

   #front{
     display: flex;
     justify-content: flex-end;
     width: 10%;
     text-align: center;
     padding-left: 60px;
   }


   #des{
     display: flex;
     justify-content: flex-start;
     width: 10%;
     text-align: center;
     padding-right: 50px;
   }

   #box1{
     display: flex;
     justify-content: flex-end;
     width: 75%;
     text-align: right;
   }

   #wrapper2{
     display: flex;
     justify-content: flex-end;
     align-items: center;
     width: 100%;
     padding-bottom: 120px;
   }

   span#title3{
     align-self: flex-end;
   }


/* Making Chi Vui hover */
.normal:hover {
   display: none;
}

.hovered{
  display: none;
}

.normal:hover + .hovered{
  display: block;
}

span.hv{
  font-size: 3rem;
  font-family: 'Satisfy', cursive;
}

#sp1{
  padding-left: 40px;
}

#sp2{
  padding-right: 20px;
}

/*----BUTTON ARROW DOWN---*/
  #wrp{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    text-align: center;
    font-size: 24px;
    line-height: 1.33;
    margin: 20px 0 30px 10px;
    align-self: flex-start;
}

  .btn-circle{
    border: none;
  }

  #arr {
    content: "\2193";
  }

  #grad {
    background: linear-gradient(130deg, rgba(217, 13, 203, 0.4), rgba(5, 199, 242, 0.4));
  }

/******* MAIN******/
  main figure{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }

  #intro{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: row wrap;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .int{
    text-align: center;
  }

  .dot1{
    height: 15px;
    width: 15px;
    background-color: #d90dcb;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }

  .dt {
    background-color: #bf07f2;
  }

/*---cat image---*/
  #img{
    padding: 25px 0;
    width: 75%;
  }

/*------SERVICES SECTION---*/
  #services{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  #sr{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
  }

  #serv{
    align-self: flex-end;
    padding: 0 10px 40px 0;
    text-align: right;
  }
  /*---SLIDESHOW SERVICES---*/
/***circles***/
/**
  #dts{
    background-color: #8b51d9;
  }

  #dots{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

**/
  .slider{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .sld{
    border: 1px solid black;
    padding: 40px 20px;
    margin: 5px 10px;
    width: 100%;
    text-align: center;
  }

  .grad {
    background: linear-gradient(130deg, rgba(217, 13, 203, 0.1), rgba(5, 199, 242, 0.1));
  }

  /* When moving the mouse over the div, add a darker color */
  div#slide-1:hover, div#slide-2:hover, div#slide-3:hover {
    background: linear-gradient(130deg, rgba(217, 13, 203, 0.5), rgba(5, 199, 242, 0.5));
  }

  /* Works icons*/
  .slider i {
	   font-size: 2rem;
   }

   /*Works links to other pages*/
   .slider a {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-flow: row wrap;
     width: 100%;
   }

/*----ABOUT SECTION----*/
  #about, #contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
    box-sizing: border-box;
  }

  #about-img{
    width: 95%;
  }

  #pdr{
    padding-left: 10px;
  }

  .third-width{
    align-self: flex-start;
    width: 100%;
  }

  .pdd{
    padding-top: 80px;
  }

  .text{
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    width: 90%;
  }

  .int{
    width: 100%;
  }

/*--------CONTACT SECTION--------*/
  #cnc{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
    box-sizing: border-box;
  }

  #tit{
    align-self: flex-end;
    padding-right: 10px;
    padding-bottom: 40px;
    text-align: right;
  }

  #content{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
    box-sizing: border-box;
  }

  #tch{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
  }

  #nm{
    text-align: center;
  }

  .text1{
    display: flex;
    justify-content: flex-end;
    flex-flow: row wrap;
    width: 90%;
  }

  #pr{
    text-align: right;
  }

  /* Style form*/
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 90%;
  }

  /* Style inputs with type="text", select elements and textareas */
  input[type=text], select, textarea {
    width: 100%;
    border: 1px solid #000;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }

  /* Style the submit button with a specific background color etc */
  #sub{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 20px;
  }

  input[type=submit] {
    padding: 12px 20px;
    border: 1px solid #000;
    cursor: pointer;
    align-self: flex-end;
  }

  /* When moving the mouse over the submit button, add a darker color */
  input[type=submit]:hover {
    background: linear-gradient(130deg, rgba(217, 13, 203, 0.5), rgba(5, 199, 242, 0.5));
  }

  #other-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
    box-sizing: border-box;
  }

  #oc{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 90%;
    text-align: center;
    padding: 30px 0;
  }

  #email2{
    padding-bottom: 30px;
  }

  #social{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
  }

  #social i {
    font-size: 5em;
  }

  #copyright{
    padding-top: 40px;
  }

/*---------------DESIGN PAGE---------------*/



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
