/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   /* General Styles*/

   html {
     box-sizing: border-box;
     font-size: 16px;
   }
   *, *:before, *:after {
     box-sizing: inherit;
   }

   /*BODY*/
   body {
     color: #000000;
     font-family: 'Spectral', serif;
     font-size: 1.125em;
     line-height: 20px;
     margin: 0;
     padding: 0;
   }

   /*---------headlines---------*/
   h1 {
     font-family: 'Roboto', sans-serif;
     font-size: 7.5rem;
     font-weight: normal;
     line-height: 100px;
     margin:0;
     width: 85%;
   }

   h1 span {
     font-family: 'Roboto', sans-serif;
     font-size:  8.375rem;
     font-weight: normal;
   }

  /* #title span :hover, #title span :active {
     font-size: 6rem;
   }*
  /** #prim :hover .head1 {display:none}
   #prim span:hover:before {content:"Chiara"}**/

   h2 {
     font-family: 'Spectral', serif;
     font-style: medium;
     font-size: 2.875rem;
     font-weight: normal;
     line-height: 2.7777rem;
   }

   span {
     font-family: 'Satisfy', cursive;
     font-size: 2.875rem;
     font-weight: normal;
   }

   h3 {
     font-family: 'Roboto', sans-serif;
     font-size: 1.5rem;
     font-weight: lighter;
     line-height: 1.9444rem;
   }

   /*---------lists---------*/
   ul {
     font-size: 1rem;
     list-style-type: none;
     margin: 0;
     padding: 0;
     padding-right: 10px;
     text-transform: uppercase;
   }

   li {
     margin-right: 33px;
   }

   .dot {
     height: 5px;
     width: 5px;
     background-color: #d90dcb;
     border-radius: 50%;
     display: inline-block;
   }

   /*---------links---------*/
   a {
     color: #000000;
     text-decoration: none;
   }

   /*---------images---------*/
   img {
     width: 100%;
   }

   figure {
        margin: 0;
    }

   /*--Paragraph--*/
   p {
     margin:0;
   }

   /*------header, main and footer-------*/
   header,
   main,
   footer {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-flow: row wrap;
   }

   /*****HEADER********/
   header .content-wrapper {
     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-flow: row wrap;
     width: 100%;
     padding: 0;
     margin: 0;
     background: white;
   }

/*---logo and nav--*/
header figure {
    width: 17%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
}
   #logo{
     align-self: flex-start;
     padding: 5px 0 0 10px;
     max-width: 50%;
   }

   .half-width {
     display: flex;
     justify-content: flex-end;
     align-items: center;
     flex-flow: row wrap;
     width: 80%;
   }

   nav {
     display: flex;
     justify-content: flex-end;
     align-items: center;
     flex-flow: row wrap;
     width: 100%;
   }

   nav ul {
     display: flex;
     justify-content: space-around;
     align-items: center;
     flex-flow: row wrap;
   }

   nav ul li {
     font-family: 'Roboto', sans-serif, regular;
     margin: 0;
     padding: 0 5px;
   }

   .navbar{
     overflow: hidden;
  background: white;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 10;
   }

   /* Change background on mouse-over */
.navbar .bk:hover {
  background: #ddd;
  color: black;
}

   /*language button*/
   /*#lingua{
     display: flex;
     justify-content: flex-end;
     align-items: center;
     flex-flow: row wrap;
     width: 90%;
     box-sizing: border-box;
     margin-top: 100px;
   }*/

   .sp1{
     font-size: 2rem;
   }


   #hw{
     margin-top: 70px;
   }

   .spt{
     font-family: 'Roboto', sans-serif;
     font-size: 1rem;
   }

   #btsp{
     border: none;
     padding: 5px;
   }

/* Change the background color of the button when the content is shown */
   .lng:hover {
     background: linear-gradient(130deg, rgba(217, 13, 203, 0.5), rgba(5, 199, 242, 0.5));
   }

   .lng{
     border: none;
     align-self: flex-end;
     padding: 5px;
   }


   /*-----------------------MOBILE---------------------*/
   /*---------------HOMEPAGE---------------*/

   /*---chi vui--*/
   #wrapper{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-flow:row wrap;
     width: 100%;
     box-sizing: border-box;
   }

   .half-wrapper{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-flow: row wrap;
     width: 100%;
   }

   #box{
     display: flex;
     justify-content: flex-start;
     width: 75%;
   }

   #wrapper1{
     display: flex;
     justify-content: flex-start;
     align-items: center;
     width: 100%;
     padding-top: 180px;
   }

   span#title1.normal{
     align-self: flex-start;
   }

   #front{
     display: flex;
     justify-content: flex-end;
     width: 10%;
     text-align: center;
     padding-left: 60px;
   }

   #front1{
     display: flex;
     justify-content: flex-end;
     width: 21%;
     text-align: center;
     padding-left: 60px;
   }

   #des{
     display: flex;
     justify-content: flex-start;
     width: 10%;
     text-align: center;
     padding-right: 50px;
   }

   #box1{
     display: flex;
     justify-content: flex-end;
     width: 75%;
     text-align: right;
   }

   #wrapper2{
     display: flex;
     justify-content: flex-end;
     align-items: center;
     width: 100%;
     padding-bottom: 120px;
   }

   span#title3{
     align-self: flex-end;
   }


/* Making Chi Vui hover */
.normal:hover {
   display: none;
}

.hovered{
  display: none;
}

.normal:hover + .hovered{
  display: block;
}

span.hv{
  font-size: 3rem;
  font-family: 'Satisfy', cursive;
}

#sp1{
  padding-left: 40px;
}

#sp2{
  padding-right: 20px;
}

/*----BUTTON ARROW DOWN---*/
  #wrp{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    text-align: center;
    font-size: 24px;
    line-height: 1.33;
    margin: 20px 0 30px 10px;
    align-self: flex-start;
}

  .btn-circle{
    border: none;
  }

  #arr {
    content: "\2193";
  }

  #grad {
    background: linear-gradient(130deg, rgba(217, 13, 203, 0.4), rgba(5, 199, 242, 0.4));
  }

/******* MAIN******/
  main figure{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }

  #intro{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: row wrap;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .int{
    text-align: center;
  }

  .dot1{
    height: 15px;
    width: 15px;
    background-color: #d90dcb;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }

  .dt {
    background-color: #bf07f2;
  }

  .wdot{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
    box-sizing: border-box;
    margin-top: 50px;
  }

/*---cat image---*/
  #img{
    padding: 25px 0;
    width: 75%;
  }

/*------SERVICES SECTION---*/
  #downhere{
    padding-top: 80px;
  }

  #services{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  #sr{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
  }

  #serv{
    align-self: flex-end;
    padding: 80px 10px 40px 0;
    text-align: right;
  }
  /*---SLIDESHOW SERVICES---*/
/***circles***/
/**
  #dts{
    background-color: #8b51d9;
  }

  #dots{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

**/
  .slider{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .sld{
    border: 1px solid black;
    padding: 40px 20px;
    margin: 5px 10px;
    width: 100%;
    text-align: center;
  }

  .grad {
    background: linear-gradient(130deg, rgba(217, 13, 203, 0.1), rgba(5, 199, 242, 0.1));
  }

  /* When moving the mouse over the div, add a darker color */
  div#slide-1:hover, div#slide-2:hover, div#slide-3:hover {
    background: linear-gradient(130deg, rgba(217, 13, 203, 0.5), rgba(5, 199, 242, 0.5));
  }

  /* Works icons*/
  .slider i {
	   font-size: 1.5rem;
     padding-top: 20px;
     width: 100%;
   }

   .margin{
     margin-top: 0;
   }

   /*Works links to other pages*/
   .slider a {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-flow: row wrap;
     width: 100%;
   }

/*----ABOUT SECTION----*/
  #about, #contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
    box-sizing: border-box;
  }

  #about-img{
    margin-top: 20px;
    width: 95%;
  }

  #pdr{
    padding-left: 10px;
  }

  .third-width{
    align-self: flex-start;
    width: 100%;
  }

  .pdd{
    padding-top: 80px;
  }

  .text{
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    width: 90%;
  }

  .int{
    width: 100%;
  }

/*--------CONTACT SECTION--------*/
  #cnc{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
    box-sizing: border-box;
  }

  #tit{
    align-self: flex-end;
    padding-right: 10px;
    padding-bottom: 40px;
    text-align: right;
  }

  #content{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
    box-sizing: border-box;
  }

  #tch{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
  }

  #nm{
    text-align: center;
  }

  .text1{
    display: flex;
    justify-content: flex-end;
    flex-flow: row wrap;
    width: 90%;
  }

  #pr{
    text-align: right;
  }

  /* Style form*/
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 90%;
  }

  /* Style inputs with type="text", select elements and textareas */
  input[type=text], select, textarea {
    width: 100%;
    border: 1px solid #000;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }

  /* Style the submit button with a specific background color etc */
  #sub{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 20px;
  }

  input[type=submit] {
    padding: 12px 20px;
    border: 1px solid #000;
    cursor: pointer;
    align-self: flex-end;
  }

  /* When moving the mouse over the submit button, add a darker color */
  input[type=submit]:hover {
    background: linear-gradient(130deg, rgba(217, 13, 203, 0.5), rgba(5, 199, 242, 0.5));
  }

  #other-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
    box-sizing: border-box;
  }

  #oc{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 90%;
    text-align: center;
    padding: 30px 0;
  }

  #email2{
    padding-bottom: 10px;
    width: 100%;
  }

  #dove-trovarmi{
    text-align: center;
    padding-bottom: 10px;
    width: 100%;
  }

  #icone{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    width: 80%;
  }

  #send-email{
    margin-bottom: 30px;
  }

  #send-email.grad.sm-btn:hover {background: linear-gradient(130deg, rgba(217, 13, 203, 0.5), rgba(5, 199, 242, 0.5));}

  #social{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
  }

  #social i {
    font-size: 5em;
  }

  #copyright{
    padding-top: 40px;
  }

/*---------------DESIGN PAGE---------------*/
  .dwrp{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding-top: 0;
  }

  .pdd1{
    padding-left: 20px;
  }

/*dropdown menu*/
  /* Dropdown Button */
  .dropbtn {
    padding: 16px;
    border: none;
    align-self: flex-end;
  }

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}

  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background: linear-gradient(130deg, rgba(217, 13, 203, 0.5), rgba(5, 199, 242, 0.5));}

  /*projects gallery*/
  #a2021, #a2020{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
    box-sizing: border-box;
  }

  .project-wrp{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 90%;
  }

  .txt-wrp{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
  }

  .tlt{
    padding-bottom: 10px;
    padding-top: 30px;
    width: 100%;
  }

  .dvlp{
    font-size: 2.5rem;
  }

  .img-wrp, .see-btn{
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .img-wrp{
    padding: 20px 0;
  }

  .sm-btn{
    padding: 12px 20px;
    border: 1px solid #000;
  }

  input[type=button].sm-btn{
    cursor: pointer;
    align-self: center;
  }

  /* When moving the mouse over the submit button, add a darker color */
 .see-btn:hover .sm-btn{
    background: linear-gradient(130deg, rgba(217, 13, 203, 0.5), rgba(5, 199, 242, 0.5));
  }

  .dt2{
    background-color: #9b44d6;
  }

  .dt3{
    background-color: #6474e1;
  }

  .dt4{
    background-color: #6077e1;
  }

  .dt5{
    background-color: #5482e3;
  }

  /*slideshow*/
  * {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
  position: relative;
  margin: 0;
  box-sizing: border-box;
}

.list{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
}

div .pr-img {
  align-self: center;
  width: 100%;
  margin: 30px 0;
}

/* Hide the images by default */
.slide , .slideb, .slidec, .slided, .slidef{
  display: none;
  align-self: center;
  padding: 0;
}

/* Next & previous buttons */
.pnbtn{
display: flex;
justify-content: space-between;
align-items: center;
flex-flow: row wrap;
width: 100%;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 5px;
  color: #000;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a background color with a little bit see-through */
.prev:hover, .next:hover {
  background: linear-gradient(130deg, rgba(217, 13, 203, 0.1), rgba(5, 199, 242, 0.1));
}

  .fwa{
    width: 100%;
  }

  #hw{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
    width: 40%;
  }

  #lkh:link{
    color: black;
  }

  #lkh:hover{
    color: #9b44d6;
  }

  #lkh:active{
    color: #5482e3;
  }

  .cntr{
    text-align: center;
  }

  .wds{
    align-self: center;
    width: 85%;
  }

/*didascalia*/
  .didascalia{
    margin-top: 15px;
    width: 100%;
    text-align: center;
  }

  /*Sit Conmigo*/
  #nmg {
    margin-bottom: 0;
    width: 100%;
    text-align: center;
  }

  /*****DEVELOPMENT*******/
#agg{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: row wrap;
  width: 90%;
}

  #aggiunto{
    font-size: 16px;
    width: 100%;
  }

  /*****DESIGN*****/
  .des-img{
    margin: 20px 0;
    width: 100%;
  }

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
   /*************TABLET*************/
   @media only screen and (min-width: 768px) {
     h1{
       font-size:  8.375rem;
     }

     #serv{
       padding-bottom: 80px;
     }

     #pdr, #tit{
       padding-top: 130px;
       padding-bottom: 40px;
     }

     .no-br br{
       display: none;
     }

     #logo{
       width: 40%;
     }

/*chi vui*/
  header{
    justify-content: flex-start;
  }

    #wrapper{
       justify-content: flex-start;
       width: 50%;
     }

     #wrapper1, #wrapper2{
       justify-content: flex-start;
       width: 100%;
     }

     #wrapper2{
       margin-left: 40px;
       padding: 0;
     }

     #wrp{
       visibility: hidden;
     }

     #title3{
       margin-left: 30px;
     }

/**main**/
     #downhere{
       padding-top: 0;
       margin-top: 0;
     }

     #int-wrapper{
       display: flex;
       justify-content: center;
       align-items: center;
       flex-flow: row wrap;
       width: 100%;
     }

     #intro{
       justify-content: flex-end;
       margin-right: 10px;
       width: 40%;
       order: 2;
     }

    #before{
      order: 1;
      width: 50%;
    }

    #img{
      width: 100%;
    }

/*works*/
    #slide-1, #slide-2{
      max-height: 310px;
      width: 45%;
    }

    #slide-2{
    }

    .sld{
      width: 50%;
    }

    #slide-3{
      margin-top: 20px;
      width: 40%;
    }

/*about*/
#about{
  justify-content: flex-start;
}

  .text{
    width: 55%;
    margin-left: 30px;
    margin-right: 10px;
  }

  #mia-foto{
    margin-top:0px;
    margin-left: 40px;
    width: 30%;
  }

  #about-img{
    width: 100%;
  }

/*email*/
  #tch{
    order: 2;
    width: 50%;
  }

  #other-contact{
    order: 1;
    width: 50%;
  }

/*development*/
#aggiunto{
  margin-left: 20px;
}

/*design*/
.ridotta{
  width: 50%;
}

   }

   /***************DESKTOP***********/
   @media only screen and (min-width: 1200px) {

     #wrapper {
       width: 50%;
    }

    #logo{
      max-width: 20%;
    }

    h1 span{
      font-size: 2em;
      line-height: 0.75em;
    }

    span.hv {
      font-size: 1.2em;
      line-height: 1.2em;
    }

    #wrp{
      align-self: flex-end;
      justify-content: flex-end;
      visibility: hidden;
      width: 49%;
    }

    #slide-1, #slide-2, #slide-3{
      width: 30%;
    }

    #slide-3{
      margin-top: 5px;
      min-height: 290px;
      max-height: 310px;
    }

/*about*/


    .text{
      margin-left: 30px;
      width: 60%;
    }

    #mia-foto {
    width: 30%;
    margin-left: 70px;
    }

    #allargo{
      font-size: 2em;
      line-height: 50px;
    }

    #tch{
      order: 1;
      width: 30%;
    }

    #other-contact{
      order: 2;
      display: flex;
      justify-content: space-around;
      width: 100%;
    }

    #oc, #social{
      width: 30%;
    }

    span#bigsize{
      font-size: 5rem;
      line-height: 5rem;
    }

    .slide, .slideb, .slidec, .slided, .slidef, .fgr{
      width: 60%;
    }

    #stretta{
      width: 30%;
    }

}



/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
